* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fafa8d;
    color:  #7c5228;
    font-size: 1.8rem;
}

header {
    display: flex;
    justify-content: end;
}

header button {
    padding: 10px ;
    font-size: 20px;
    margin: 10px;
    color: #744c25;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

#memoryGame {
    background-color: whitesmoke;
}

#snakeGame {
    background-color: rgb(185, 181, 181); 
    outline: solid 2px white;
    cursor: pointer;
}

#snakeGame a {
    text-decoration: none;
    color: #744c25;
}

#snakeGame:hover {
    background-color: lightgrey;
    outline: none;
}

h1 {
    font-family: "Londrina Sketch", sans-serif;
    margin: 20px 0;
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(4, 110px);
    grid-gap: 15px;
    margin: 20px auto;
    max-width: 470px;
}

.card {
    width: 110px;
    height: 110px;
    background: linear-gradient(#ffffff, #f7f5f5);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    border-radius: ;
    border: ;
    overflow: hidden; 
    border-bottom: solid 1px #888;
    transition: all 0.4s ease-in;
}

.card:hover {
    box-shadow: 0 0 65px 0 #ffffff;
    background: linear-gradient(#ffffff, #ffffff);;
    border-color: #fff;
    transition: all 0.3s ease-out;
}

.card img {
    width: 120px;
    height: 120px;
    display: none; /* Hide images initially */
    border-radius: 10px;
 
} 

.card.flipped img {
    display: block;
}

#resetButton {
    padding: 10px 20px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #9A6735;
    color: white;
    border: none;
    border-radius: 5px;
}

#resetButton:hover {
    background-color: #da9959;
}

#score {
    font-weight: bold;
    margin-bottom: 30px;
}
